html,
body {
  font-family: monospace;
  margin: 0;
  background-color: blanchedalmond;
}

.filters {
  background-color: rgb(233, 203, 146);
  padding: 12px;
}

.tasks {
  background-color: rgb(193, 193, 106);
  padding: 12px;
}

button {
  background-color: white;
  padding: 12px;
}

input {
  padding: 2px;
}
